<!-- <li><a href="/update" id="update" class="button update">Update</a></li> -->
<ul id="bar" class="nav nav-pills">
<li><a href="/new" id="new" class="button update">Add a Stock</a></li>
<li><a href="/destroy" id="destroy" class="button update">Delete a Stock</a></li>
</ul>


<table class="table table-hover">
  <tr>
    <th>Stock Symbol</th>
    <th>Current Price</th>
    <th>Yesterday's Closing Price</th>
    <th>Current PE Ratio</th>
    <th>Percent Increase/Decrease Today</th>
  <tr>
    <% until @counter == @stocks.length %>
   <!-- <% @data.each do |y| %> -->
      <tr>

        <td><%= @data[@counter][0].symbol %></td>
        <td><%= @data[@counter][0].last_trade_price %></td>
        <td><%= @data[@counter][0].previous_close %></td>
        <td><%= @data[@counter][0].pe_ratio %></td>
        <td><%= @data[@counter][0].change_in_percent.gsub!(/\A"|"\Z/, '') %></td>
        <% @counter = @counter + 1 %>
      </tr>

    <!-- <% end %> -->
   <% end %>
  <!--  <tr>
    <td>Yahoo</td>
    <td>55</td>
    <td>.5</td>
    <td>1</td>
  </tr> -->




</table>
